.home-background-image {
  background-image: url(../../backgrounds/austin.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: absolute;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  height: calc(100vh);
  flex-grow: 1;
  margin: 55px 0 0 0;
  overflow: hidden;

}

.home-title{
  margin-top: 150px;
  font-size: 12vw;
  font-weight: 700;
  color: lavender;
  text-shadow: -2px 2px 0 #500, 2px 2px 0 #600, -2px -2px 0 #400,
    -2px -2px 0 #100;
}

.home-desc{
  font-family: "Cinzel Decorative";
  font-size: 3.2vw;
  font-weight: 700;
  color: lavender;
  text-shadow: -1px 2px 0 #500, 1px 1px 0 #600, -1px -2px 0 #400,
  -1px -1px 0 #100;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.home-background-image{
  margin-top: 40px;
}

.home-title{
  font-size: 16vw;
  margin-top: 100px;
}
.home-desc{
  font-size: 5vw;
}

}