.portfolio-title-div{
margin-top:30px;
margin-bottom:100px;
}
.portfolio-wrapper{
  display:flex;
justify-content: center;

}

.portfolio-container{
  display: flex;
  flex-direction: row;
  text-align: left;
  font-family: 'Hind Madurai', sans-serif;
}
.card{
  padding: 10px 10px 10px 10px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .portfolio-container{
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    
    .portfolio-title{
      font-size:45px;
    }

    .card{
      width:380px;
    }
}