.contact-div{
  
  margin-bottom: 150px;
}
.contact-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-title{
  font-size: 3vw;
}

.contact-p{
  font-size: 1.5vw;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .contact-div{
      margin-bottom: 80px;
    }
    .about-me-contact{
      font-size: 25px;
      margin-left: 10px;
      margin-top: -15px;
    }
    .contact-title{
      font-size: 45px;
      margin-top: -15px;
      margin-bottom: -12px;
    }
    .contact-p{
      font-size: 20px;
      padding: 10px;
    }

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .about-me-contact{
      font-size: 20px;
     
    }
}