footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin-bottom: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #202123;
}

.footer-copyright {
  font-size: 14px;
  position: absolute;
  left: 35px;
  color: aliceblue;
}

.footer-name {
color: aliceblue;
}

.small-logo-div {
  position: absolute;
  right: 35px;
}

.small-logo {
  width: 35px;
  height: auto;
  margin-left: 15px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.footer-copyright{
  left:25px;
  margin-right: 5px;
}

.footer-name{
  margin-left: 10px;
}


}