
.about-me-text{
  font-size: 20px;
text-align: justify;
}

.about-me-col{
  text-align: center;
  margin: 0 auto;
}
.about-me-contact{
  font-size: 25px;

}

h1{
  font-family: "Cinzel Decorative";
  text-shadow:
  -1px -1px 0 #fff,  
   1px -1px 0 #fff,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .about-me-title{
      font-size: 45px;
     }
      .about-me-text{
        font-size: 15px;
        padding: 10px;
      }
      .about-me-contact{
        padding:5px 15px 5px 10px;
       
      }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .about-me-text{
  font-size: 15px;
  }
}